/*======================================*/
/*2. HEADER */
/*======================================*/
/*--------- top bar ----------*/
.top-bar{padding:7px 0;font-size: 12px;font-weight: 500;text-align: center;}
.top-bar p{margin-bottom: 0;}
.top-bar p a.view-more{font-weight: bold;font-size: 12px;}
.top-bar .top-bar-content{position: relative;padding: 0 35px 0;}
.top-bar .close-top-bar{
	position: absolute;top: 0;right: 0;bottom: 0;width: 30px;height: 30px;
	margin: auto;cursor: pointer;display: block;color: #fff;
}
.top-bar .close-top-bar svg{width: 9px;height: 30px;color: #fff;}
.flexContainer{
	margin-right: -15px;margin-left: -15px;-webkit-align-items: center;align-items: center;
	-webkit-flex-flow: row nowrap;flex-flow: row nowrap;-webkit-justify-content: space-between;justify-content: space-between;	
}
.flexContainer > div.wrapper-header-action{padding-left: 0px;}
.header-action-icon .box-action-icon{display: block;text-align: center;width: 30px;height: 30px;margin-left: 10px;position: relative;}
.header-action-icon a.header-action-toggle{display: block;}
.icon-state .icon-svg{
	width: 20px;height: 30px;fill: #000000;color:#000000;
	-webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.icon-state .box-action-icon-close{
	position: absolute;top: 0;left: 0;bottom: 0;right: 0;opacity: 0;transform: scale(0);
	-webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.sitebox-recaptcha{margin-bottom: 15px;color: #898989;text-align: left;font-size: 13px;clear: both;}
.sitebox-recaptcha a{color: #2962ff;}
/* - Menu */
.main-header--menu {text-align: center;}   
.desk-menu {position: relative;}
.desk-menu >ul>li {display: inline-block;height: 100%;padding:0;z-index: 5;}
.desk-menu >ul>li:last-child {margin-right: 0;}
.desk-menu > ul>li>a {
	position: relative;
	z-index: 2;
	display: block;
	padding: 10px 0 15px;
	margin: 0 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 13px;
}
.desk-menu >ul>li.active>a{color: #00bed8;}  
.desk-menu ul li a {color:#000000;}
.desk-menu ul>li:hover>a{color:#00bed8;}
.desk-menu ul {	padding-left: 0;margin:0;}
.desk-menu ul>li a i {display: inline-block;vertical-align: middle;font-size: 14px;margin-bottom: 2px;}
.desk-menu .sub_menu {
	background: #fff;
	position: absolute;
	z-index:999;
	min-width: 150px;
	-webkit-box-shadow: 0 3px 15px rgba(0,0,0,.08);
	-moz-box-shadow: 0 3px 15px rgba(0,0,0,.08);
	-o-box-shadow: 0 3px 15px rgba(0,0,0,.08);
	-ms-box-shadow: 0 3px 15px rgba(0,0,0,.08);
	box-shadow: 0 3px 15px rgba(0,0,0,.08);
	-webkit-transform: rotate3d(1,0,0,-90deg);
	-moz-transform: rotate3d(1,0,0,-90deg);
	-o-transform: rotate3d(1,0,0,-90deg);
	-ms-transform: rotate3d(1,0,0,-90deg);
	transform: rotate3d(1,0,0,-90deg);
	-webkit-transform-origin: 0 0 0;
	-moz-transform-origin: 0 0 0;
	-o-transform-origin: 0 0 0;
	-ms-transform-origin: 0 0 0;
	transform-origin: 0 0 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.desk-menu li:hover>.sub_menu {
	-webkit-transform: rotate3d(0,0,0,0deg);
	-moz-transform: rotate3d(0,0,0,0deg);
	-o-transform: rotate3d(0,0,0,0deg);
	-ms-transform: rotate3d(0,0,0,0deg);
	transform: rotate3d(0,0,0,0deg);
}
.desk-menu .sub_menu a {padding: 9px 18px;white-space: nowrap;text-align: left;display: block;font-size: 14px;}
.desk-menu .sub_menu .sub_menu {
	left: 100%;
	top: -2px;
	margin-left: 1px;
	margin-top: 0;
	-webkit-transform: rotate3d(0,1,0,90deg);
	-moz-transform: rotate3d(0,1,0,90deg);
	-o-transform: rotate3d(0,1,0,90deg);
	-ms-transform: rotate3d(0,1,0,90deg);
	transform: rotate3d(0,1,0,90deg)
}
.desk-menu .sub_menu li{	border-top: 1px solid #ecf0f1}
.desk-menu .sub_menu li:hover{background:#F2F2F2;}
.desk-menu ul>li i {
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s
}
.desk-menu ul>li:hover>a i {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	margin-bottom:0;
}
.desk-menu ul li .sub_menu li{position: relative}
.main-header--action {
	-webkit-align-items:center;
	-moz-align-items:center;
	align-items:center;
}
.main-header--action a {display: inline-block;padding-left: 15px}
.main-header--action svg {width: 16px;height: 16px;fill: #000000;}
.main-header--action .count-holder {position: relative;top: -5px;font-size: 10px;text-align: center;}
/* - Logo */
.main-header--logo h1, .main-header--logo a {margin-bottom:0;font-size: 32px;font-weight: 500;color:#00bed8;line-height: initial;}
@keyframes scroll-in{0%{top:2px}49%{top:-14px}50%{top:19px}100%{top:2px}}
@keyframes scroll-out{0%{top:2px}49%{top:19px}50%{top:-14px}100%{top:2px}}
/*  - Icon menu */
.hamburger-menu{display: block;position: relative;width: 30px;height: 30px;text-align: center;cursor: pointer;}
.hamburger-menu svg{
	-webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.main-header{position: relative;z-index: 999;background: #fff;border-bottom: 1px solid #F6F7F8;}
.main-header.hSticky {opacity: 0;visibility: hidden;}
.main-header.hSticky-down{
	position: fixed;top: 0;left: 0;right: 0;z-index: 999;
	background: #fff;border-bottom: 0;-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-transform: translateY(-100%);transform: translateY(-100%);
	-webkit-transition: all 400ms ease;-moz-transition: all 400ms ease;transition: all 400ms ease;
}
.main-header.hSticky-up{
	opacity: 1;visibility: visible;-webkit-transform: translateY(0);
	transform: translateY(0);-webkit-transition: all 400ms ease;-moz-transition: all 400ms ease;transition: all 400ms ease;
}
.main-header.hSticky-down .top-bar{display: none;}
.mainHeader_tempPr .backto-page{display: none;}
.backto-page-history{
	display: block;width: 30px;height: 30px;line-height: 30px;text-align: center;margin-right: 5px;
}
@media only screen and (min-width: 992px) {
	.main-header.hSticky-down .main-header--logo h1, .main-header.hSticky-down .main-header--logo a{font-size: 26px;}
	.main-header .logoimg {
		max-height: 70px;
		-webkit-transition: opacity ease 0.5s;
		-o-transition: opacity ease 0.5s;
		transition: opacity ease 0.5s;
	}
	.main-header.hSticky-down .logoimg {max-height: 35px;}
	.main-header.hSticky-down .main-header--logo a{display: block;padding: 10px 0;}
	.main-header.hSticky-down .desk-menu > ul>li>a {padding: 20px 0;}
	.icon-state .box-action-icon-close{display: none;}
}
@media(max-width: 991px){
	.main-header .logoimg{max-width: 85%;max-height: 40px;margin: 0 auto;}
	.flexContainer > div[class*="wrapper-header-"]{width: initial;padding: 0 10px;position: initial;}
	.main-header.mainHeader .header-inner{padding: 10px 0;}
	.main-header .header-inner .header-inner-nav{padding: 10px 0;}
	.main-header--logo h1, .main-header--logo a {font-size: 20px;}
	.header-action-icon.show-action .header-action-toggle .icon-action-svg {opacity: 0;transform: scale(0);}
	.header-action-icon.icon-state.show-action .box-action-icon-close{opacity: 1;-webkit-transform: scale(1);-moz-transform: scale(1);transform: scale(1);}
	.mainHeader_tempPr.hSticky-down .backto-page{display: inline-block;}
	.mainHeader_tempPr.hSticky-down .wrapper-header-logo{display: none;}
	.mainHeader_tempPr.hSticky-down .icon-state{display: inline-flex;vertical-align: middle;}
	.mainHeader_tempPr.hSticky-down .header_dropdown_content.site_menu_mobile .box-triangle{left: 44px;}
}
.main-header:not(.hSticky-down) .header-nav-sticky .wrapper-logo-sticky{display: none;}
.mainHeader .top-bar{background: #00bed8;color: #ffffff;}
.mainHeader .top-bar p a.view-more{color: #ffffff;}
.mainHeader .top-bar .close-top-bar svg{fill: #ffffff;}
.mainHeader:not(.hSticky-down) .header-inner{background: #ffffff;}
.mainHeader:not(.hSticky-down) .header-inner .main-header--logo h1,.mainHeader:not(.hSticky-down) .header-inner .main-header--logo a{color: #000000;}
.mainHeader:not(.hSticky-down) .header-inner .desk-menu>ul>li>a{color: #000000;padding: 35px 0;}
.mainHeader:not(.hSticky-down) .header-inner .desk-menu ul>li:hover>a{color: #00bed8;}
.mainHeader:not(.hSticky-down) .header-inner .desk-menu >ul>li.active>a{color: #00bed8;}
.mainHeader:not(.hSticky-down) .header-inner .desk-menu > ul>li>a:after{background-color: #00bed8;bottom: 25px;}
.mainHeader:not(.hSticky-down) .header-inner .icon-state .icon-svg{fill: #000000;color: #000000;}


// mobile
/* - dropdow action content menu, search  */
.header_dropdown_content{
	position: absolute;
	left: auto;
	right: 0;
	top: 100%;
	z-index: 999;
	width: 100%;
	min-width: 300px;
	border-radius: 0;
	color: #000000;
	background: #fff;
	border: solid 1px #dfe3e8;
	-webkit-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s;
	-moz-transition: opacity 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s;
	transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s;
	will-change: transform;
}


.header_dropdown_content .site-nav-container{
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 12px;
	overflow: hidden;
	min-height: 100%;
	padding: 25px 15px 15px;
}
.header_dropdown_content .titlebox-search{
	font-size: 15px;
	text-transform: uppercase;
	margin: 0;
	font-weight: 500;
	padding-bottom: 10px;
	border-bottom: 1px solid #dee2e6;
	color: #000000;
}
.header_dropdown_content.site_menu_mobile{width: 100vw;height: 100vh;}
.header_dropdown_content.site_menu_mobile .box-triangle{left: 9px;right: initial;}
@media screen and (min-width: 992px){
	.main-header:not(.mainHeader_temp01) .header_dropdown_content{top: calc(100% + 13px);}
	.main-header.mainHeader_temp03:not(.hSticky-down) .header_dropdown_content{top: calc(100% + 17px);}
	.main-header.mainHeader_temp03:not(.hSticky-down) .header_dropdown_content.site_account .box-triangle{right: 22px;}
	.header_dropdown_content{
		right: 0;
		left: auto;
		border-radius: 3px;
		-webkit-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
	}
	.header_dropdown_content.site_search_dk {width: 400px;}
	.header_dropdown_content.site_account .box-triangle{right: 54px;}
	.header_dropdown_content.site_account{width: 335px;}
	.header_dropdown_content.site_account.site-account--info{width: 250px;min-width: 250px;}
}
@media(max-width: 991px){
	.header_dropdown_content .box-triangle{right: 9px;}
	.header_dropdown_content.site_account .box-triangle{right: 49px;}
	.header_dropdown_content .site-nav-container{height: 100vh;overflow-y: auto;padding-bottom: 250px;}
	body.locked-scroll{overflow: hidden;}
	body.locked-scroll .main-header,body.locked-scroll .main-header.hSticky-down{
		position: fixed;top: 0;left: 0;right: 0;
		visibility: visible;opacity: 1;-webkit-transform: translateY(0);transform: translateY(0);
	}
}
.header-action-icon.show-action .header_dropdown_content{
	opacity: 1;visibility: visible;-webkit-transform: scale(1);transform: scale(1);
	transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), visibility 0.4s linear, -webkit-transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1);
	transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
	transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear, -webkit-transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1);
}
.header-action-icon.show-action	#account-popover .popover-panel.is-selected{visibility: visible;}
.site-overlay {
	background: rgba(225, 225, 225, 0.05);position: fixed;left: 0;top: 0;z-index: 88;width: 100vw;height: 100vh;
	opacity: 0;visibility: hidden;transition: all 200ms linear;
}
.locked-scroll .site-overlay{opacity: 1;visibility: visible;}
/* - Menu mobile  */
.mp-menu {
	position:absolute; /* we can't use fixed here :( */
	top: 0;   
	left: 0;
	z-index:9;
	width:100%;
	height: 100%;
	overflow: hidden;
}
.mp-level {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}
.main-body,.mp-level {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
/* 1 Level + 2 Level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
	box-shadow: none;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.mp-menu ul {margin: 0;padding: 0;list-style: none;}
.mp-menu.mp-overlap h2::before {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 8px;
	font-size: 75%;
	line-height: 1.8;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
	transition: opacity 0.3s, transform 0.1s 0.3s;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
}
.mp-overlap .mp-level.mp-level-overlay > h2::before {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
}
.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}
.mp-back {
	background: rgba(0,0,0,0.1);
	outline: none;
	color: #007ec6;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	display: block;
	font-size: 0.8em;
	padding: 1em;
	position: relative;
	box-shadow: inset 0 1px rgba(0,0,0,0.1);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	padding-left: 30px;
}
.mp-back::after {
	font-family: FontAwesome;
	position: absolute;
	content: "\f0d9";
	left: 15px;
	font-size: 1.3em;
	color:#007ec6;
}
.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
	background: transparent;
	box-shadow: none;
	color: transparent;
}
.mp-menu ul li.has-children.icon::before {position: absolute;right: 0px;z-index: -1;color: #757575;line-height: 1.9;}
.mplus-menu {height: 100%;}
.mplus-menu > ul {
	position: absolute;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	left: 0;
	right: 0;
	background: #fff;
	padding-bottom: 200px;
}
.vertical-menu-list li{position: relative;
    .sub_menu{
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dotted #ddd;
        li{
            border-bottom: 1px dotted #ddd;
            padding-top: 10px;
            padding-bottom: 10px;
            &:last-child{
                border-bottom: 0;
            }
        }
    }
}
.vertical-menu-list>li>a{
	display: block;
	padding: 10px 15px;
	text-transform: uppercase;
	outline: none;
	border-bottom: 1px dotted #ddd;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	font-size: 14px;
	font-weight: 500;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}
.list-child li a,.sub-child li a,.sub-child-3 li a{
	display: block;
	padding: 10px 15px;
	outline: none;
	border-bottom: 1px dashed #bfbfc1;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	font-size: 14px;
	font-weight: 300;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
    position: relative;
}
.list-child >li span,.sub-child >li span,.sub-child-3 li span{margin-right: 4px;}
.vertical-menu-list>li>a i {
	position: absolute;
	right: 10px;
	top: 13px;

}
.list-child li:first-child a, 
.sub-child >li:first-child a,
.sub-child-3 >li:first-child a{
	color: #00bed8;
	background: #fff;
	text-transform: uppercase;
	font-weight:500;
}
.list-child li:first-child a i,
.sub-child li:first-child a i,
.sub-child-3 li:first-child a i{
	padding-right: 10px;
	font-weight: 700;
	font-size: 19px;
}
.mm-panel {
	-webkit-transition: -webkit-transform .4s ease;
	transition: -webkit-transform .4s ease;
	transition: transform .4s ease;
	transition: transform .4s ease,-webkit-transform .4s ease;
	-webkit-transform: translate(100%,0);
	-ms-transform: translate(100%,0);
	transform: translate(100%,0);
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
.list-root{
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.list-root.mm-subopened {
	-webkit-transform: translate(-30%,0);
	-ms-transform: translate(-30%,0);
	transform: translate(-30%,0);
	-webkit-transform: translate3d(-30%,0,0);
	transform: translate3d(-30%,0,0);
}
.hidden-child {display: none;}
.list-child.mm-opened{
	webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
	-webkit-transform: translate3d(0,0,0); 
	transform: translate3d(0,0,0);
}
.hidden-child{display:none;}
.mm-panel:not(.hidden-child){display: block;}
/* 3 Level */
.list-child li {position: relative;}
.list-child>li.level-2 >a i {
	position: absolute;
	right: 10px;
	top: 50%;
	color: #757575;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sub-child.mm-sub {
	webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.list-child.mm-subopened {
	-webkit-transform: translate(-30%,0);
	-ms-transform: translate(-30%,0);
	transform: translate(-30%,0);
	-webkit-transform: translate3d(-30%,0,0);
	transform: translate3d(-30%,0,0);
}
/* 4 Level */
.sub-child li{position: relative;}
.sub-child>li.level-3 >a i {
	position: absolute;
	right: 10px;
	top: 50%;
	color: #757575;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sub-child-3.mm-sub-3{
	webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.mobile_menu_section{padding: 15px;}
.mobile_menu_section p{
	font-size: 15px;
	line-height: 1.85;
	text-transform: uppercase;
	font-weight: 500;
	font-style: normal;
	color: #333;
}
.mobile_menu_section .mobile_menu_help{color: #677279;display: flex; align-items: center;}
.mobile_menu_section .mobile_menu_help svg{margin-right: 16px;width: 24px;height: 24px;}
.mobile_menu_section a{
	display: block;
	padding: 10px 15px;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	font-size: 14px;
	font-weight: 500;
}
