.main-content-theme {
    min-height: 80vh;
}
/*----- Slider -----*/
#home-slider {position: relative;}
#home-slider .swiper-pagination {position: absolute;bottom:20px;right:0;left:0;display:block;margin:auto;text-align: center;}
#home-slider .item {position: relative;}
#home-slider .item a {display: block;overflow: hidden;position: relative;z-index: 9;}
#home-slider .item-cap {
	position: absolute;
	width: 60%;
	margin: auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
#home-slider .swiper-slide-active.active .item-cap{opacity: 1;visibility: visible;}
#home-slider .item-cap .item-cap-content{position: relative;z-index: 10;max-width: 800px;}
#home-slider .item-cap h2 {font-weight: bold;font-size: 50px;line-height: 1.5;color: #fff;}
#home-slider .item-cap p {margin-bottom: 30px;}
#home-slider .item-cap .site-button {width: max-content;}
#home-slider .swiper-nav {
    .swiper-button-prev,.swiper-button-next{
	position: absolute;
	top: 50%;
	z-index: 2;
	padding: 0;
	width: 45px;
	height: 45px;
    font-size: 70px;
	line-height: 45px;
	background: transparent;
	border: none;
	font-size: 0;
	text-align: center;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
    &::after{
        color: #fff;
		font-size: 40px;
    }
    }
}
#home-slider .swiper-nav i{width: 35px;height: 45px;color: #fff;}
#home-slider .swiper-nav .swiper-button-prev {left: 30px;}
#home-slider .swiper-nav .swiper-button-prev:hover {left: 20px;}
#home-slider .swiper-nav .swiper-button-next {right: 30px;}
#home-slider .swiper-nav .swiper-button-next:hover {right: 20px;}
.animated  {
  -webkit-animation-duration : 3s  ;
  animation-duration : 3s  ;
  -webkit-animation-delay : 200ms  ;
  animation-delay : 200ms  ;
}
@media(max-width: 767px){
	#home-slider .swiper-nav {display: none;}
	#home-slider .swiper-nav div {
		display: inline-block;
		cursor: pointer;
		color:#000;
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	#home-slider .swiper-nav div:before {font-size: 20px;}
	#home-slider .swiper-pagination{bottom: 0;}
}

.swiper-pagination-bullet {
	display: inline-block;
	padding: 7px!important;
	margin:2px 10px !important;
	border: none;
    opacity: 1;
	background: #00bed8;
	transition: all 0.2s linear;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
    @media(max-width: 767px){
       padding: 5px!important;
    }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {background: #00bed8;}
.swiper-pagination-bullet.swiper-pagination-bullet-active:after {
	position: absolute;
	content: "";
	left: 2px;
	right: 0;
	top: 2px;
	height: 24px;
	width: 24px;
	border-radius: 50px;
	z-index: 5;
	background: #00bed8;
	transform: translate(-7px, -7px);
	opacity: 0.3;
    @media(max-width: 767px){
        width: 20px;height: 20px;
    }
}
/*----- Hiline Title -----*/
.hilite-title{position: relative;	border:0px;	padding: 0 20px;margin: 20px 0;text-transform: uppercase;}
.hilite-title strong{display:block;font-size:70px;line-height: 1.2;font-weight:bold;color:rgba(191,191,191,0.3);}
.hilite-title span{display:block;line-height:1.5;text-transform: uppercase;font-weight: bold;}
.hilite-title.bdr-left{border-left:10px solid #00bed8;}
.hilite-title.bdr-right{border-right:10px solid #00bed8;}
/*----- Section Blog -----*/ 
.section.section-blog{padding:90px 0;}
.latest-blog-dark-outer {margin-bottom:30px;position: relative;}
.latest-blog-dark-outer a.fade-box{display: block;}
.latest-blog-dark {padding: 20px 0 0;
	display: flex;
	align-items: center;
	text-align: center;
	.v-date{
		font-size: 14px;
		color: #fff;
	}
	.title{
		a{
			color: #fff;
		}
		padding-left: 10px;
		text-align: left;
		margin-left: 10px;
		line-height: 1.4;
		border-left: 2px solid #00BED8;
		font-size: 18px;overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box;
	}
}
.section:not(.section-slider) {
    padding: 90px 0;
}
.section-parallax {
	.box-send-contact .contact-form .input-group input,
	.box-send-contact .contact-form .input-group textarea{
		border-radius: 4px;
		color: #fff;
		border: 1px solid  rgba(255, 255, 255, 0.60);
		background: rgba(0, 0, 0, 0.60);
	}
	background-image: url(images/bg-des.jpg); background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;overflow: hidden;}
.section-parallax.prl-one {background-image: url(images/bg-contact.jpg); background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;overflow: hidden;}
.section-parallax:before {content:"";position: absolute;top:0;bottom: 0;right:0;left:0;width:100%;height: 100%;	background: #000;opacity: 0.4;}
.section.section-parallax h2 {margin-bottom:0;text-transform: inherit;font-size: 25px;line-height: 1.5;}
.section.section-parallax .s-title {position: relative;}
.some-facts{position:relative;	padding:80px 30px 80px 50px;	border:10px solid #fff;	border-left:0px;}
.some-facts:after,
.some-facts:before{content:"";	position:absolute; background-color:#fff;	left:-10px;	width:10px;	height:140px;}
.some-facts:after{	bottom:-10px;}
.some-facts:before{top:-10px;}
.icon-box-wraper {position: relative;overflow: hidden;text-align: center;}
.icon-box-wraper .counter {font-size: 40px;font-weight: 600;line-height: 1.2;display: block;margin-bottom: 10px;}
.icon-box-wraper .ic-separator {overflow: hidden;display: inline-block;height: 3px;width: 50px;margin: 0 auto 15px;position: relative;background: #fff;}
.icon-box-wraper .text {text-transform: uppercase;display: block;}
/* ----- Section Service ----- */
.list-service-home{
	padding-left: 30px;
	padding-right: 30px;
	margin-left: -30px;
	margin-right: -30px;
	@media(max-width:992px){
		padding: 0;
		margin: 0;	
	}
}
.box-service .img-service {margin-bottom: 20px;position: relative;overflow: hidden;}
.box-service .img-service:before {
	content:"";
	position: absolute;
	top:0;
	right: 0;
	left:0;
	bottom:0;
	background: #000;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.box-service:hover .img-service:before {opacity: 0.4;visibility: visible;}
.box-service .title a{text-transform: uppercase;font-weight: bold;margin-bottom: 5px; font-size: 16px;line-height: 1.5;overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box;}
.box-service p {margin-bottom: 15px;font-size: 14px;}
.box-service .desc-service{height: auto;margin-top: auto;width: 100%;}
/*-----	. Image effects -----*/ 
.box_image .banner {position: relative;overflow: hidden;}
.box_image .banner img {
	width:100%;
	-webkit-transition: all 1s ease-in-out 0s;
	-khtml-transition: all 1s ease-in-out 0s;
	-moz-transition: all 1s ease-in-out 0s;
	-ms-transition: all 1s ease-in-out 0s;
	-o-transition: all 1s ease-in-out 0s;
	transition: all 1s ease-in-out 0s;
	-webkit-transform: scale(1);
	-khtml-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.box_image .banner:hover img {
	-webkit-transform: scale(1.2);
	-khtml-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.banner-hover-effect:before,.banner-hover-effect:after{
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	background-color: rgba(255, 255, 255, 0.15);
	transition: all .8s ease-in-out 0s;
	-webkit-transition: all .8s ease-in-out 0s;
	-ms-transition: all .8s ease-in-out 0s;
}
.banner-hover-effect:before{top: 0;left: 0;z-index: 1;}
.banner-hover-effect:after{bottom: 0;right: 0;z-index: 2;}
.box_image .banner:hover .banner-hover-effect:before,.box_image .banner:hover .banner-hover-effect:after{width: 100%;height: 100%;}
@media (min-width: 1200px){
	.zoom-slow{overflow: hidden;}
	.zoom-slow img {
		display: block;
		margin: 0;
		height: auto;
		box-shadow: 0 0 0 rgba(0,0,0,0);
		-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
		-moz-box-shadow: 0 0 0 rgba(0,0,0,0);
		transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-webkit-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
	}
	.zoom-slow:hover img {
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.zoom-slow:hover .banner-hover-effect:before,.zoom-slow:hover .banner-hover-effect:after{width: 100%;height: 100%;}
}
.see-more{
	text-align: right;
	position: relative;
	color: #2483C1;
	text-transform: uppercase;
	display: flex;
	position: absolute;
	right: 0;
	bottom: 0;
	align-items: center;
	font-weight: bold;
	font-size: 14px;
	gap: 5px;
	a{
		color: #2483C1;
	}
	&::after{
		content: '';
		width: 15px;
		height: 2px;
		background: #2483C1;
	}
}

/*======================================*/
/*. PAGE CONTENT - CONTACT */
/*======================================*/
.page-wrapper ul, .page-wrapper ol {margin-bottom:15px;padding-left: 40px;}
.page-wrapper ul {list-style-type: initial;}
.header-page-contact h1{font-size:25px;font-weight:700;margin:0px 0;line-height: 1.5;}
.header-page-contact:after {
	content: "";
	display: block;
	width: 50px;
	height: 3px;
	margin-top: 10px;
	background:#00BED8;
	margin-bottom: 25px;
}
.box-info-contact li {margin-bottom: 10px;}
.box-info-contact li p {margin-bottom: 0;color:#666;font-weight: 500;}
.box-info-contact li p strong{font-weight:600;color:#000000;}
.box-send-contact h2 {font-weight:700;font-size: 25px;margin:40px 0 35px;}
.box-send-contact h2:after {content: "";display: block;margin-top: 15px;width: 30px;height: 3px;background:#00BED8;}
.box-send-contact .contact-form .input-group {width: 100%;margin: 0 0 20px;}
.box-send-contact .contact-form .input-group input,
.box-send-contact .contact-form .input-group textarea{
	border: 1px solid #e7e7e7;
	box-shadow: none;
	border-radius: 0;
	height: 45px;
	font-weight: 500;
	padding: 0 20px;
	background: #fff;
	color:#000000;
	width:100%;-webkit-appearance: none;
}
.box-send-contact .contact-form .input-group textarea {width: 100%;height:auto;padding:20px 20px;resize: none;}
.box-send-contact .contact-form .input-group textarea:focus {outline: none;}
.wrapbox-content-page-contact{padding:0 15px 0 50px;}
.wrapbox-content-page {padding-bottom: 30px;}
.sidebar-page .group-menu {margin: 0 0 30px;position: relative;padding: 20px;border: 1px solid #e3e5ec;}
.sidebar-page .page_menu_title h2 {
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: 600;
	padding-bottom: 10px;
	border-bottom: 2px solid #00BED8;
}
.sidebar-page .box_image {margin-bottom: 30px;}
.item--service{
	.site-button:not(:hover){
		background: #fff;
		border: 1px solid #00BED8;
		margin-left: 0;
		span{
			color: #00BED8;
		}
		
		em{
			background: #00BED8
		}
	}
}
.section .s-title h2 {font-size: 34px;line-height: 1.3;text-transform: uppercase;margin-bottom: 40px;}
.section .s-title span {
	font-size: 24px;line-height: 1.3; display: block;margin-bottom:15px;
	&.sub-title{
		color: #00899C;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 0;
		font-weight: bold;
	}
}
.section .s-content p {margin-bottom: 20px;}
/* ----- Section About ----- */
.section-about .s-content {border-left: 2px solid #a0a0a0;padding: 0 0 0 30px;}
.section-about .s-banner {position: relative;}
.section-about .col-right {padding-left: 70px;}
@media(min-width: 768px){
	.section.section-about {overflow: hidden;padding-bottom: 130px;}
	.section-about .s-banner img {margin-left: 50px;position: relative;z-index: 9;}
	.section-about .s-banner:before {
		content: "";
		position: absolute;
		left: 0px;
		width: 100%;
		border-radius: 4px;
		height: 100%;
		border: 10px solid #00bed8;
		background: none;
		top: -50px;
		z-index: 1;
	}
}
@media(max-width:767px){
	
	.section-about .s-banner {margin-bottom: 30px;}
	.section-about .col-right {padding-left: 30px;}
}
/*-----	. background image -----*/
.section-parallax-breadcrumb{background-image: url(images/banner-page.png);}
.section-parallax { background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;overflow: hidden;}
.section-parallax:before {content:"";position: absolute;top:0;bottom: 0;right:0;left:0;width:100%;height: 100%;	background: #000;opacity: 0.4;}
.section-parallax.prl-one .s-title h2{margin-bottom:15px;}
/*-----	. Breadcrumb -----*/
.section-breadcrumb{background: #FAFAFA;}
.section-breadcrumb .breadcrumb{padding: 10px 0 10px;}
.section-breadcrumb .breadcrumb a,.section-breadcrumb .breadcrumb span{color: #000000;}
.breadcrumb {padding: 20px 0;background:transparent;margin-bottom:0;}
.breadcrumb span, .breadcrumb a {color:#fff;}
.breadcrumb>li+li:before {content: '|'; padding: 0 15px;color: #fff;}
@media (max-width: 767px) {
	.section-breadcrumb{background: transparent;}
	.section-breadcrumb .breadcrumb{padding: 8px 0 5px;}
	.breadcrumb {font-size: 10px;padding: 10px 0;}
	.breadcrumb>li+li:before {padding: 0 5px;}
}
#collection-body {margin: 90px 0 60px;}
.imagebox-item {margin-bottom: 30px;}
.imagebox-item .imagebox {position: relative;overflow: hidden;}
.imagebox-item .imagebox-image {position: relative;margin-bottom: 20px;}
.imagebox-image img {width: 100%;}
.imagebox-item .imagebox .imagebox-title span {text-transform: uppercase;}
.imagebox-item .imagebox .imagebox-title h3 {margin: 15px 0 5px;font-size: 18px;}
.imagebox-item .imagebox .imagebox-title h3 a {display: block;}
@media(max-width: 991px){
	#collection-body {margin: 50px 0 30px;}
}
/*----- Section Project -----*/ 
.section.section-project {padding-bottom:0;}
.gallery-box {overflow: hidden;position: relative;margin-bottom: 30px;}
.gallery-box a {display: block;}
.gallery-box a.image-resize picture{display: -webkit-flex;display: flex;-webkit-justify-content: center;justify-content: center;-webkit-align-items: center;align-items: center;height: 100%;}
.gallery-box .text-wrap-title h3 {font-size: 16px;font-weight: 700;line-height: 1.5;margin-bottom: 5px;}
.gallery-box .text-wrap-title .pro-price{color: #fff;font-size: 14px;font-weight: 500;opacity: .9;margin-bottom: 15px;}
.gallery-box .text-wrap-title .pro-price .pro-price-del{font-size: 12px;margin-left: 4px;}
.gallery-box img {
	object-fit: cover;
	width: 100%;
	display: block;
	position: relative;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.gallery-box:hover img {transform: none;}
.gallery-box .text-wrap-title {position: absolute;left: 15px;bottom: 15px;right: 15px;z-index: 99;margin-top:0;}
.gallery-box .text-wrap-title .pro-title a{color: #fff;}
.gallery-box .text-wrap-title .pro-title a:hover{color: #00bed8;}
.gallery-box .text-wrap-title h3 {margin-bottom: 10px; overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box;}
.gallery-box .text-wrap-link a{display: inline-block;}
.gallery-box:hover a.image-resize{position: relative;z-index: 9;}
@media (max-width: 767px){
	.gallery-box .text-wrap-title h3 {font-size: 14px;overflow: hidden;-webkit-line-clamp: 1;-webkit-box-orient: vertical;display: -webkit-box;}
	.gallery-box .text-wrap-title{padding: 8px 5px 0;}
	.gallery-box .text-wrap-title .pro-price{color: #333;opacity: initial;margin-bottom: 0;}
}
/*----- Section Blog -----*/ 
.section.section-blog.lazyloaded{background: url(images/bkg-banner-section.png) 50% 0;padding-bottom:0;background-attachment: fixed;}
.latest-blog-dark-outer {margin-bottom:30px;position: relative;}
.latest-blog-dark-outer a.fade-box{display: block;}
.latest-blog-dark {padding: 20px 0 0;}
.latest-blog-dark h3{margin-bottom: 10px;line-height: 1.4;}
.latest-blog-dark h3 a{color: #fff;font-size: 18px;overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box;}
.sidebar-filter{
	margin-bottom: 20px;
	li{
		margin-bottom: 15px;
	}
}
.sidebarblog-title h2 {
	font-size: 25px;
	text-transform:uppercase;
	margin-bottom: 20px;
	font-weight: 600;
	display: inline-block;
	padding-bottom: 13px;
	border-bottom: 2px solid #00bed8;
	line-height: 1.2;
}
.bg-top {background-position: center;background-size: cover;padding: 100px 0;}
.banner-title-name {position: relative;}
.banner-title-name h1, .banner-title-name span {font-size: 50px;line-height: 1.5;font-weight: 600;margin-bottom: 0px;}
.section.section-about-us {padding-bottom: 130px;
.s-content{
	border-left: 2px solid #a0a0a0;
    padding: 0 0 0 30px;
}}
.m-about{position:relative;	z-index:2;margin: 0 50px;margin-top: 50px;}
.m-about:after{content: "";	position: absolute;	width: 100%;	height: 100%;	border: 10px solid #00bed8;	left: -50px; bottom: 50px;	z-index: -1;}
@media (max-width:991px) {
	.bg-top {padding: 40px 0;}
	.banner-title-name h1, .banner-title-name span {font-size: 20px;}
	.section.section-about-us {padding-bottom: 50px;}
}
@media only screen and (max-width:767px) {
	.m-about-containt{margin-top:80px;}
	.m-about{margin:50px 0px 0px 50px;}	
	.pd-page .col-md-9{
		order: -1;
	}
}
.heading-page h1{font-size: 30px;font-weight: 700;margin-bottom: 30px;}
/*Sidebar Blog*/
.news-latest, .menu-blog {margin: 0 0 30px;position: relative;padding: 16px 26px 28px;border: 1px solid #e3e7e8;background: #fff;}
.sidebarblog-title h2 {
	font-size: 18px;
	margin-bottom: 20px;
	padding-bottom: 13px;
	border-bottom: 2px solid #00bed8;
	line-height: 1.2;
}
.sidebarblog-title h2 span,.page_menu_title h2 span {display: none;}
.list-news-latest {counter-reset: popular-counter;}
.list-news-latest .item-article {
	-webkit-transition: .4s;
	transition: .4s;
	padding: 15px 0 15px 30px;
	border-bottom: 1px solid #ebebeb;
	position: relative;
}
.list-news-latest .item-article:last-child{border-bottom:none;}
.list-news-latest .item-article .number {
	font-size: 30px;
	font-weight: 500;
	color: #cdcfd0;
	line-height: 1;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -15px;
	border-right: 1px solid #e3e7e8;
	counter-increment: popular-counter;
}
.list-news-latest .item-article .number:before {
	content: counter(popular-counter);
	position: absolute;
	font-size: 30px;
	width: 100%;
	line-height: 1;
}
.list-news-latest .item-article .post-content {padding-left: 15px;width: 100%;}
.list-news-latest .item-article .post-content h3 {margin: 5px 0 0;font-size: 14px;line-height: 1.5;}
.list-news-latest .item-article .post-content span.cate-blog a {font-size: 13px;font-weight: 600;color:#828d91;}
.wt-post-media {position: relative;overflow: hidden;margin-bottom: 10px;}
.wt-post-title h3.post-title{margin-bottom: 5px;}
.wt-post-title h3.post-title a{overflow: hidden;-webkit-line-clamp: 1;-webkit-box-orient: vertical;display: -webkit-box;}
.wt-post-meta {margin-bottom:5px;}
.wt-post-meta ul {margin:0px;	list-style:none;}
.wt-post-meta li {padding: 0;	display: inline-block;	font-size: 13px;font-weight: 500;	text-transform: uppercase;letter-spacing: 1px;}
.wt-post-meta i {margin-right:5px;font-size: 16px;}
.wt-post-meta li:after {content: "/";    display: inline-block; font-weight: normal; margin-left: 5px;opacity: 0.5;}
.wt-post-meta li:last-child:after {	display:none;}
.wt-post-text {	margin-bottom:10px;	text-align: justify;}
.wt-post-text p:last-child {margin:0;}
.wt-post-readmore  {margin-bottom: 15px;}
.wt-post-readmore a{font-size: 16px;font-style: italic;	text-decoration:underline;}
@media (max-width: 991px){
	.news-masonry .masonry-item:nth-of-type(2n+1) {clear: both;}
}
@media only screen and (max-width:420px) {	
	.masonry-item .wt-post-info{padding-bottom:0px;}
	.masonry-item .wt-post-title h2.post-title{line-height:14px;}	
	.masonry-item .wt-post-title h2.post-title a{font-size:14px;	line-height:none;}
	.news-grid  .wt-post-text {	display:none;}
}
.box-article-heading h1{margin:0 0 15px;font-size: 24px;line-height: 1.3;}
.article-info-more , .background-img{
    margin-bottom: 20px;
}
.news-masonry, .list-news{
	.masonry-item{
		margin-bottom: 30px;
	}
	.site-button{
		padding: 0;
		background: none;
		color: #00BED8;
		em{
			background: #00BED8;
		}
		&:hover{
			background: none;
			em{
				right: 0px;
			}
		}
		span, em{
			color: #00BED8;
			text-transform: none;
			font-weight: bold;
			letter-spacing: 0;
			font-size: 14px;
		}
		
	}
}
@media only screen and (min-width:992px) {
	.list-news{
		.masonry-item{
			.blog-post{
				display: flex;
				gap: 20px;
				.wt-post-media{
					flex-shrink: 0;
					width: 300px;
				}
			}
			
		}
	}
}
@media only screen and (min-width:768px) {
	.news-masonry{
		.site-button{
			display: none;
		}
	}
	.small-post{
		.wt-post-text{
			display: none;
		}
	}
	.list-news{
		padding-top: 20px;
		border-top: 1px solid #00BED8;
		
	}
}
.title-blog{
	position: relative;
	h3{
		padding-left: 20px;
		border-left: 5px solid #00BED8;
		margin-bottom: 20px;
	}
}

.product-detail-wrapper {margin: 90px 0 60px;}
.product-gallery #sliderproduct .gallery-item {margin-bottom: 15px;}
.product-gallery #sliderproduct a {display: block;}
#detail-product .pro-soldold{color: #e4a554;font-weight: bold;}
.description-productdetail ul li {padding: 0 10px 0 25px;position: relative;margin-bottom: 5px;width: calc(100%/2);display: inline-block;}
.description-productdetail ul li:before {
	content: "\f178";
	font-family:'FontAwesome';
	position: absolute;
	left:0;
	top:0;
	bottom:0;
	margin:auto;
}
.description-productdetail *{max-width: 100%!important;}
.description-productdetail table {margin-bottom: 0;}
.description-productdetail table tr td {border-top: none;}
.description-productdetail table tr td:first-child {color: #ababab;}
.product-detail-wrapper .product-action a {display: block;margin: 15px 0 25px;text-align: center;font-size: 14px;font-weight: 500;}
.related-projects {padding: 60px 0 0;}
.related-projects .s-title h2 {font-size: 24px;line-height: 1.5;text-transform: uppercase;}
.product-title .title{font-size: 40px;font-weight: 700;line-height: 1.2;margin-bottom: 5px;}
.pro_sku{font-size: 14px;color: #a3a5a7;margin-right: 20px;}
.product-content-desc .product-price{display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;padding-bottom: 15px;width: 100%;}
.product-content-desc .product-price .pro-sale{
	display: inline-block;
	padding: 5px 15px;
	margin-right: 10px;
	background: #f2f5fa;
	font-weight: 600;
	font-size: 13px;
	color: #f94c43;
	text-transform: uppercase
}
.product-content-desc .product-price .pro-contact{font-weight: 600;font-size: 16px;color: #00bed8;cursor: pointer;border-bottom: 1px dotted;}
.product-content-desc .product-price .pro-price{font-size: 25px;opacity: .92;font-weight: bold;color: #C16024;}
.product-content-desc .product-price del{font-size: 13px;color: #777a7b;padding-left: 10px;font-weight: 500;}
.product-content-desc .product-options{border-top: 1px dotted #dee2e6;padding: 10px 0 0;margin: 10px 0 0;}
.product-description{border-top: 1px dotted #dee2e6;padding-top: 15px;}
.expandable-content_toggle{
	outline: none;
	cursor: pointer;
	&:focus{
		outline: none;
	}
}
.product-description .description-content:not(.opened) .expandable-content_toggle{margin-top: 30px;border: 0;}
.product-description .description-content .description-productdetail{position: relative;}
.product-description .description-content.opened .description-productdetail:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	pointer-events: none;
	background:linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 15%, #fff)
}
.product-description h2{
	font-size: 14px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 15px;
	display: inline-block;
}
.expandable-content_toggle{
	display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;border: 1px solid #00bed8;
	padding: 8px 15px;color: #00bed8;position: relative;
	text-align: center;font-weight: 500;background: #fff;z-index: 99;outline: none;
}
.expandable-content_toggle-icon{
	position: relative;
	margin-right: 15px;
	width: 10px;
	height: 10px;
	-webkit-transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
}
.expandable-content_toggle-icon:before,.expandable-content_toggle-icon:after{
	content: "";
	position: absolute;
	background: #00bed8;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: -webkit-transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
	top: 50%;
	left: 50%;
}
.expandable-content_toggle-icon:before{width: 2px;height: 10px;}
.expandable-content_toggle-icon:after{width: 10px;height: 2px;}
.expandable-content_toggle.btn-closemore .expandable-content_toggle-icon:before{content: none;}
.expandable-content_toggle.btn-closemore:before{height: 0;}
.productDetail_style_03 .product-gallery{display: -webkit-box;	display: -webkit-flex;display: -ms-flexbox;display: flex;}
.productDetail_style_03 .product-gallery-item.slick-slide {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.gallery-product{
	.swiper-button-prev, .swiper-button-next{
		background: #00BED8;
		border-radius: 0;
		top: var(--swiper-navigation-top-offset,50%);
		&::after{
			color: #fff;
		}
	
	}
	.thumb-small{
		margin-top:20px;
		img{
			cursor: pointer;
		}
	}
}
.thumb-1x1{
	position: relative;
    overflow: hidden;
    height: 0;
    width: 100%;
    background: #f4f4f4;
	padding-bottom: 100%;
	img{
		object-fit: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
	
}